.contact-us-left,
.contact-us-right {
  h3 {
    margin-bottom: 9px;
  }
  p {
    line-height: 1.6em;
    margin-bottom: 25px;
  }
}

.contact-us-left {

}

.contact-us-right {
  h3 {
    margin-bottom: 0px;
    margin-top: 0;
    line-height: 1.3em;
  }
}