// Hero banner panel 

.container-fluid .hero-banner-wrapper {
  margin: 0 -15px 40px;
}

.page-top .container-fluid .hero-banner-wrapper,
.homepage-hero .container-fluid .hero-banner-wrapper {
  margin-bottom: 0;
}

.hero-banner-wrapper {
  background-color: $rc-darkgrey;
  margin: 0 15px 50px;
  display: none;
  &.slick-initialized {
    display: block;
  }
}
.hero-banner-item {
  position: relative;
  height: 520px;
  &.small {
    height: 200px;
    .bg-item:after {
      display: none;
    }
  }
  .bg-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 100%;
    img {
      display: none;
    }
    &:after {
      background: url("../img/shadow-carousel.png");
      bottom: 0;
      content: "";
      height: 145px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}
.hero-content-wrapper{
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 970px;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 0;
  width: 100%;

}
.hero-content-container {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 0 40px 0;
}
.hero-content {
  background: rgba(0,0,0,.7);
  display: inline-block;
  max-width: 600px;
  padding: 24px 34px;
}

.small .hero-content {
  background: rgba(0,0,0,.7);
  max-width: none;
  padding: 0 27px;
}

.small .hero-content-title  {
  max-height: 175px;
}

.small .hero-content-title h1,
.small .hero-content-title h2 {
  border: none;
  color: #fff;
  display: block;
  line-height: 57px;
  margin: 0;
  overflow: visible;
  position: relative;
  span {
    background-color: transparent;
    box-decoration-break: clone;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
  }
}

.hero-content-title {
  display: inline-block;
}
.hero-content-title h1,
.hero-content-title h2 {
  color: #fff;
  display: inline-block;
  font-size: 30px;
  line-height: 1.15;
  margin: 0 0 9px;
} 

.hero-content-desc {
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  margin: 0 0 5px 0;
}

.hero-content-link a {
  color: #ffffff;
  font-family: "gotham_bold";
  font-size: 14px;
}

.hero-content-link,
.hero-video-link {
  float: left;
}

.hero-video-link {
  height: 45px;
  padding-right: 20px;
}

.hero-video-link .video-btn {
  background: none;
  color: #ffffff;
  font-family: "gotham_bold";
  font-size: 14px;
  left: auto;
  margin: 0;
  @include opacity(1);
  padding-left: 44px;
  position: relative;
  top: auto;
  &:before {
    background: url("../img/icon-play.png") 0 0 no-repeat;
    background-size: 36px 36px;
    content: "";
    display: inline-block;
    height: 36px;
    image-rendering: -webkit-optimize-contrast;
    @include opacity(.6);
    position: absolute;
    top: -8px;
    transition: .2s all;
    left: 0;
    width: 36px;
  }
  &:hover:before {
    @include opacity(1);
  }
}

.carousel-controls-wrapper {
  height: 0;
  bottom: 86px;
  max-width: 970px;
  left: 50%;
  padding: 0 15px;
  position: absolute;
  text-align: right;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 100%;
}
.carousel-controls {
  display: inline-block;
  .slick-arrow {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    float: left;
    height: 40px; 
    image-rendering: -webkit-optimize-contrast;
    margin: 0 0 0 3px;
    position: relative;
    top: auto;
    width: 40px;
  }
  .slick-dots {
    display: block;
    float: left;
    padding: 0;
    margin: 7px 11px 0 0;
    li {
      float: left;
      margin: 0;
      &:before {
        display: none;
      }
    }
  }
  .slick-play {
    background-image: url("../img/icon-play-circle.png");
    &:hover {
      background-image: url("../img/icon-play-circle-hover.png");
    }
  }
  .slick-pause {
    background-image: url("../img/icon-pause-circle.png");
    &:hover {
      background-image: url("../img/icon-pause-circle-hover.png");
    }
  }
  .slick-prev {
    background-image: url("../img/icon-prev-circle.png");
    left: auto;
    &:hover {
      background-image: url("../img/icon-prev-circle-hover.png");
    }
  }
  .slick-next {
    background-image: url("../img/icon-next-circle.png");
    right: auto;
    &:hover {
      background-image: url("../img/icon-next-circle-hover.png");
    }
  }

  &.slick-active-control {
    .active-control-default, 
    .active-control-hover {
      display: block;
    }
    .slick-arrow {
      background-image: none;
      &:hover {
        background-image: none;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
.slick-dots {
  button {
    background: rgba(255,255,255,0.5);
    border: 1px solid $copy-color;
    border-radius: 50%;
    box-shadow: none;
    height: 15px;
    line-height: 0;
    margin: 0 1px;
    text-indent: -99999px;
    transition: .2s all;
    padding: 0;
    width: 15px;
    
  }
  .slick-active button {
    background: #ffffff;
  }
}
.carousel-controls .slick-pause {
  display: none;
}
.autoplay .carousel-controls {
  .slick-pause {
    display: block;
  }
  .slick-play {
    display: none;
  }
}
.small-caro .btn-scroll-down {
  display: none;
}

.btn-scroll-down {
  background: url(../img/icon-arrow-down-white-lg.png) center 0 no-repeat;
  border: 0;
  bottom: 34px;
  height: 40px;
  left: 50%;
  margin-left: -30px;
  @include opacity(.7);
  position: absolute;
  text-indent: -99999px;
  transition: .4s all;
  width: 60px;
  &:hover {
    @include opacity(1);
    background-position: center 17px;
  }
}

.store-nearby-link-item,
.store-infowindow-btn {
  .btn {
    border-radius: 4px;
  }
}

.btn-set-store {

}

@media (max-width: 1440px) {
  .hero-banner-item {
    height: 390px;
  }
}

@media (min-width: 992px) {
  .chrome,
  .ie {
    .small .hero-content-title {
      padding: 0; 
      border: none;
      margin: 0 auto;
      h1,
      h2 {
        background-color: transparent;
        border: 0;
        padding: 0;
        display: inline;
        line-height: 54px;
        margin: 0; 
        span {
          box-shadow: none;
          background-color: transparent;
          padding: 0;
          position: relative;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .hero-banner-item {
    height: auto;
    .bg-item {
      height: 320px;
    }
    &.small .bg-item {
      height: 180px;
    } 
  }
  .hero-content-wrapper {
    height: auto;
    padding: 0 0 50px 0;
    position: relative;
  }
  .small.hero-banner-item {
    height: 180px;
  }
  .small .hero-content-wrapper {
    height: 100%;
    padding: 0 15px;
    position: absolute;

  }
  .small-caro .hero-content-wrapper {
    padding-bottom: 0;
  }
  .small .hero-content,
  .hero-content {
    background: $rc-darkgrey;
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small .hero-content {
    background: rgba(0,0,0,.7);
    padding: 0 22px;
  }
  .carousel-controls-wrapper {
    bottom: auto;
    top: 268px;
  }
  .small-caro .carousel-controls-wrapper {
    top: 128px;
  }
  .btn-scroll-down {
    bottom: 10px;
  }
  .hero-content-title h1,
  .hero-content-title h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .small .hero-content-title h1,
  .small .hero-content-title h2 {
    font-size: 28px;
    border-left: none;
    line-height: 48px;
    span {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
@media (max-width: 767px) {
  .hero-banner-item {
    .bg-item {
      height: 280px;
    }
    &.small .bg-item {
      height: 180px;
    } 
  }
  .carousel-controls-wrapper {
    bottom: auto;
    top: 228px;
  }
  .small-caro .carousel-controls-wrapper {
    top: 60px;
  }
  .small .hero-content-title h1,
  .small .hero-content-title h2 {
    .safari9 & {
      line-height: 45px;
    }
    font-size: 24px;
    line-height: 44px;
  }
}
